.prono-brand {
    color: red;
}

.icon-bar-top {
    background-color: green !important;  
}

.icon-bar-central {
    background-color: green !important;
}

.icon-bar-bottom {
    background-color: green !important; 
}