<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pronoNavbar">
        <span class="icon-bar icon-bar-top"></span>
        <span class="icon-bar icon-bar-central"></span>
        <span class="icon-bar icon-bar-bottom"></span>                        
      </button>
      <a class="navbar-brand prono-brand" href="#">Prono-app</a>
    </div>
    <div class="collapse navbar-collapse" id="pronoNavbar">
      <ul class="nav navbar-nav">
        <li *ngIf="!isUserLoggedIn()" class="active"><a routerLink="/"><span class="glyphicon glyphicon-home"></span> Home (Guest)</a></li>
        <li *ngIf="isUserLoggedIn()" class="active"><a routerLink="/"><span class="glyphicon glyphicon-home"></span> Home (Loggedin)</a></li>
        <li *ngIf="isUserLoggedIn()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Loggedin Menù Voice 1<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li> 
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li *ngIf="!isUserLoggedIn()"><a href="#">Guest Menù Voice 1</a></li>
        <li *ngIf="!isUserLoggedIn()"><a href="#">Guest Menù Voice 2</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isUserLoggedIn()"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li *ngIf="!isUserLoggedIn()"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li *ngIf="isUserLoggedIn()"><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

            <!-- Router Outlet -->
            <div class="container-fluid zeroPadding">
                <router-outlet></router-outlet>
            </div>