.header {
    margin: 5px;
    padding-top: 2px;
    height: 50px;
    background-color: yellowgreen;
}

.pronoapp {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    color: white;
}

.material-icons.md-46 { 
    font-size: 46px; 
    cursor: pointer;
}

.green {
    color: green;
}

.guestAvatarColor {
    color: white;
}